/*设置居中*/
.margin{width:1140px;margin:0 auto;}

#banner{/*banner背景图*/
    height:222px;
    background:url(../image/g-1.jpg) no-repeat center 20%;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:center;
}

/*
nav导航栏*/
nav{height:46px;border-top:1px solid #ebebeb;border-bottom:2px solid #e1e1e1;display:flex;align-items:center;justify-content:center;}
nav ul{display:flex;height:46px;}
nav a{font:12px/46px "";color:#505050;padding:0 21px;display:block;}
nav a:hover{border-bottom:3px solid #e67e22;}

/*主要展示区*/
main{background:#ebebeb;padding-top:35px;}
main article{width:750px;;float:left;}
main article ul{}
main article ul li{margin-bottom:35px;height:406px;background:#fff;text-align:center;padding:0 34px;overflow:hidden;}
main article ul li h3{font:34px/54px "";color:#303030;margin-top:26px;}
main article ul li span{font:12px/32px "";color:#959595;display:block;}
main article ul li span a{color:#e67e22;}
main article ul li p{font:18px/29px "";color:#444443;margin-top:26px;text-align:left;}
main article ul li > a{margin-top:31px;font:12px/36px "";display:block;width:86px;height:36px;background:#e67e22;border-radius:5px;color:#fff;}
main article ul li > i{display:block;height:69px;border-top:1px solid #ebebeb;margin-top:30px;background:url(../image/g-3.png) no-repeat left; }


main aside{float:right;width:360px;}
main aside > ul {}
main aside > ul > li{height:196px;margin-bottom:35px;background:#fff;padding:0 30px;overflow: hidden;}
main aside > ul li h3{font:18px/38px "";color:#303030;border-bottom:1px solid #ebebeb;margin-top:13px;}
main aside > ul li h3:after{content:"";display:block;width:90px;height:0;border-bottom:1px solid #e67e22;position:relative;bottom:-1px;}
main aside > ul > li:first-child p{font:12px/34px "";color:#505050;}
main aside > ul > li:first-child p:nth-child(2){margin-top:15px;}
main aside > ul > li:first-child p a{color:#ec9222;}
main aside > ul > li:first-child p:nth-of-type(2){background:url(../image/g-4.png)no-repeat left;text-indent:18px;}
main aside > ul > li:first-child p:nth-of-type(3){background:url(../image/g-5.png)no-repeat left;text-indent:18px;}


/*下载*/
main aside  > ul > li:nth-child(2) > a{margin-top:21px;display:block;height:36px;background:#e67e22;font:12px/36px "";color:#fff;text-align:center;}
main aside > ul > li:nth-child(2) > a:hover{background:#303030;transition-duration:.5s;}
/*标签云*/
main aside > ul > li:nth-child(3){height:298px;}
main aside > ul > li:nth-child(3) ul{display:flex;flex-wrap:wrap;}
main aside > ul > li:nth-child(3) ul li{height:25px;margin:11px 7px 0 0;}
main aside > ul > li:nth-child(3) ul li a{display:block;padding:0 7px;height:25px;border:1px solid #ebebeb;font:12px/25px "";color:#959595;}
main aside > ul > li:nth-child(3) ul li a:hover{background:#e67e22;color:#fff;border-color:#e67e22;}

/*底部*/
/*左边部分*/
#bottom{height:369px;background:#202020;display:flex;justify-content:center;}
#bottom > ul{width:300px;}
#bottom > ul:first-child > li{padding:21px 0 14px 0;border-bottom:1px dashed #303030;}
#bottom > ul:first-child > li a{display:block;font:12px/24px "";color:#959595;}
#bottom > ul:first-child > li p{display:block;font:12px/24px "";color:#505050;}
#bottom > ul > li:first-child{font:22px/39px "";color:#fff;border-bottom:1px solid #303030;padding:0;}
#bottom > ul >li:first-child:after{content:"";display:block;width:90px;height:0;border-bottom:1px solid #e67e22;position:relative;bottom:-1px;}
/*中间部分*/
#bottom > ul:nth-child(2){margin:0 90px;}
#bottom > ul:nth-child(2) > li:nth-child(2){padding-top:21px;}
#bottom > ul:nth-child(2) > li:nth-child(2) > ul{display: flex;flex-wrap:wrap;}
#bottom > ul:nth-child(2) > li:nth-child(2) > ul > li{height:25px;margin:0 7px 11px 0;}
#bottom > ul:nth-child(2) > li:nth-child(2) > ul > li >a{display:block;padding:0 7px;height:25px;border:1px solid #303030;font:12px/25px "";color:#959595;}
#bottom > ul:nth-child(2) > li:nth-child(2) > ul > li >a:hover{background:#e67e22;color:#fff;border-color:#e67e22;}
/*右边部分*/
#bottom > ul:nth-child(3) >li{display:flex;flex-wrap:wrap;padding: 10px 0 18px 0;border-bottom:1px dashed #303030;}
#bottom > ul:nth-child(3) >li:first-child{padding:0;display:block;}
#bottom > ul:nth-child(3) >li a{margin:0 7px 11px 0;display:block;padding:0 8px;height:25px;font:12px/25px "";color:#959595;}
#bottom > ul:nth-child(3) >li a:hover{background:#e67e22;color:#fff;border-color:#e67e22;}
#bottom > ul:nth-child(3) >li:last-child{border:0;}

/*响应1199px的布局*/
@media screen and (max-width:1199px) {
    .margin{width:939px;}
    main article{width:616px;}
    main aside{width:293px;}

}
/*响应991px的布局*/
@media screen and (max-width:991px) {
    .margin{width:720px;}
    main article{
        width:auto;
        float:none;
    }
    main aside{
        width:auto;
        float:none;
    }

}
