.margin{width:980px;margin:0 auto;}

#top{height:29px;background:url(../image/top-1.jpg) repeat-x;font:12px/29px ""}
#header{height:29px;}



#header .header-l{float:left;border:0px solid black;}
#header .header-l a{;color:#f26522;}
#header .header-l a:first-child{border:0px solid black;vertical-align:middle;display:inline-block;height:16px;width:93px;background:url(../image/xiaologo.jpg);}
#header .header-l span{margin:0 5px;}
#header .header-r{float:right;text-align: right;height:29px;}
#header .header-r i{vertical-align:middle;display:inline-block;height:13px;width:13px;background: url(../image/xiajian.jpg);margin:0 11px 0 6px;}
#header .header-r a{color:#333333;}
#header .header-r a:first-child{ color: #ed1c24;}
#header .header-r span{margin:0 7px 0 8px;}


#main{height:891px;background:url(../image/bg.jpg) repeat;}

#nav{height:70px;}
#nav>a{display:inline-block;height:58px;width:212px;background:url(../image/logo.png);float:left;margin-top:6px;}
#nav>ul{float:right;margin-top:19px;margin-right:7px;}
#nav>ul li{float:left;margin-left:18px;}
#nav>ul li>a{font:14px/40px "";text-align:center;color:#141414;display:block;height:40px;width:106px;background:url("../image/nav-1.png");}
#nav>ul li:hover >a{background: url("../image/nav-2.png");font:14px/40px "";color:white;}


#login{height:272px;background: url(../image/loginbg.jpg);}
#login .login-l{height:253px;width:274px;background: url(../image/login-lbg.jpg);margin:9px 0 0 8px;float:left;}
#login .login-l ul li:first-child,#login .login-l ul li:first-child+li{height:46px;width:257px;background: url(../image/inputbg.png);}
#login .login-l ul li span{display:inline-block;font:12px/46px "";color:#666666;text-indent:17px;}
#login .login-l ul li input{display: inline-block;height:33px;border:0;padding:0;}
#login .login-l ul li:first-child{margin-top:19px;margin-left:7px;}
#login .login-l ul li:first-child +li{margin-top:18px;margin-left:7px;}
#login .login-l ul li input[type=submit]{vertical-align:bottom;text-align:right;text-indent:20px;font:18px "";color:white;width:112px;height:35px;background:url(../image/submitbg.png);letter-spacing:18px;text-align:center;}
#login .login-l ul li:nth-child(3){margin:18px 0 0 11px;}
#login .login-l ul li:nth-child(3) a{font:12px "";color:#8f5006;display:inline-block;margin-left:74px;}
#login .login-l ul li:last-child a{ margin:20px 0 0 9px;display:block;height:45px;width:256px;background:url(../image/zhucebg.png);}
#login .login-r{float:right;width:683px;height:253px;background:url(../image/login-rbg.jpg);margin:9px 9px 0 0;}



#content{height:458px;}
.content-l{float:left;}
.content-l .content-l-t{height:218px;width:283px;margin-top:12px;}
.content-l .content-l-t h3{text-indent:29px;font:700 12px/31px "";color:#444444;height:31px;width:283px;background:url(../image/titlebg.png);}
.content-l .content-l-t ul{background:#fff;overflow: hidden;border:1px solid #dadada;height:186px;}
.content-l .content-l-t ul li a{font:12px/25px "";color:#666666;}
.content-l .content-l-t ul li{width:270px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background:url(../image/jiantou.png) no-repeat 11px center;text-indent:28px;}
.content-l .content-l-t ul li:first-child{margin-top:5px;}
.content-l .content-l-b{background:white;margin-top:16px;}
.content-l .content-l-b h3{text-indent:29px;height:31px;font:700 12px/31px "";color:#444444;background:url(../image/kefubg.png);}
.content-l .content-l-b ul{height:169px;border:1px solid #dadada;}

.content-l .content-l-b ul li {font:12px/28px "";color:#666666;text-indent:10px;}
.content-l .content-l-b ul li a,.content-l .content-l-b ul li span{margin-left:13px;color:#666666;}
.content-l .content-l-b ul li:first-child a{vertical-align:middle;display:inline-block;height:18px;width:60px;background:url(../image/qq.png);}
.content-l .content-l-b ul li:nth-child(2) a,.content-l .content-l-b ul li:nth-child(3) a{color:#fa7805;}
.content-r{float:right;width:687px;height:435px;border:0px solid #dadada;margin-top:12px;margin-left:10px;}
.content-r .content-r-t{height:104px;width: 687px;background:url(../image/mmm.png);}
.content-r .content-r-t ul {height:104px;}

.content-r .content-r-t ul a{display:inline-block;font:12px "";color:#fcb104;margin-right:7px;}
.content-r .content-r-t ul li{float:left;height:90px;width:200px;margin:18px 8px 0;padding-left:11px}
.content-r .content-r-t ul li span{font:12px "";color:#666;display: block;}
.content-r .content-r-t ul li a:last-child{margin-top:5px;display:block;height:17px;width:73px;background:url(../image/jinruyouxi.png);}
.content-r .content-r-b {height:323px;width:687px;margin:10px 10px 0 0;}
.content-r .content-r-b .left{height:323px;background:url(../image/zuixinyouxi.png) repeat-x;float:left;border:0px solid black;width:426px;}
.content-r .content-r-b .left .top{height:31px;}
.content-r .content-r-b .left .top i{margin-left:8px;height:9px;width:9px;display:inline-block;background:url(../image/youjian.png);vertical-align: middle;}
.content-r .content-r-b .left .top h3{margin-left:10px;display:inline-block;font:700 12px/31px "";color:#444444;}
.content-r .content-r-b .left .top a{margin-left:304px;display:inline-block;font:12px/31px "";color:#666666;}
.content-r .content-r-b .left ul{height:289px;border:1px solid #dadada;background:white;}
.content-r .content-r-b .left ul li{font:12px "";color:#666666;height:134px;width:204px;background:#fff4ca;border:1px solid #fce287;float:left;margin:6px 3px 0 3px;}
.content-r .content-r-b .left ul li p{line-height:29px;text-indent:2px;}
.content-r .content-r-b .left ul li a{color:#666;margin-right:4px;text-indent:2px;display:inline-block;}
.content-r .content-r-b .left ul li a:last-child{margin-left:10px;margin-right:0;vertical-align:middle;height:17px;width:73px;display: inline-block;background:url(../image/jinruyouxi.png);}
.content-r .content-r-b .right {float:right;width:251px;border:0px solid black;background:white;}
.content-r .content-r-b .right .top{height:31px;font: 700 12px/31px "";color:#444;background:url(../image/kaifu.png);}
.content-r .content-r-b .right ul li{overflow:hidden;background:url(../image/li-1.png) no-repeat 7px center;}
.content-r .content-r-b .right ul{border:1px solid #dadada;}
.content-r .content-r-b .right ul li a{text-indent:36px;width:160px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font:12px/32px "";color:#666;float:left;border:0px solid black;}
.content-r .content-r-b .right ul li span{float:right;font:12px/32px "";color:#666;}


#friendlink{height:89px;background:white;}
#friendlink h3{height:31px;background:url(../image/h3bg.png) repeat-x;font:700 12px/31px "";color:#333;text-indent:18px;}
#friendlink ul li{float:left;margin-right:8px;}
#friendlink ul li a{font:12px/28px "";color:#666;}

#footer{height:142px;background:url(../image/footerbg.png);}
#footer .top a,#footer .top span{font:12px/30px "";color:#666;}
#footer .top span{margin:0 8px 0 10px;}
#footer .top{text-align:center;}
#footer .center{font:12px/30px "";color:#666;text-align:center;}
#footer .bottom{font:12px/30px "";color:#666;text-align:center;}