body,html{height:100%;overflow:auto;}
@keyframes asideFrameShow {
    0%{
        height:0px ;
    }
    100%{
        height:144px;
    }
}
@keyframes asideFrameHidden {
    0%{
        height:144px;
    }
    100%{
        height:0px;
    }
}
header{height:50px;background:#438eb9;}

header > a{font:18px/50px "";color:#fff;text-indent:38px;display:block;float:left;height:50px;width:300px;background:url(../image/i-1.png) no-repeat left center;}
header #setting{height:50px;width:80px;float:right;margin-right:20px;background:#62a8d1;position: relative;}
header #setting > a{text-indent:10px;background:url(../image/i-3.png) no-repeat 65px center;display:block;width:110%;height:100%;font:12px/50px "";color:#fff;}
header #setting > #bott{
    display:none;
    width:158px;
    height:83px;
    background:#fff;
    flex-direction:column;
    position:absolute;
    right:0;
    border:1px solid rgba(0,0,0,.5);
}
header #setting > a:hover + #bott{display:flex;}/*当划过姓名的时候出现列表*/
header #setting > #bott:hover{display:flex;}       /*保持列表的出现*/
header #setting > #bott > a{flex:1;font:12px/41px "";text-indent: 36px;}
header #setting > #bott > a:nth-child(1){background: url(../image/i-4.png) no-repeat 14px;}/*设置修改密码的标志*/
header #setting > #bott > a:nth-child(2){background: url(../image/i-5.png) no-repeat 14px;}/*设置退出的标志*/
header #setting > #bott > a:nth-child(1):hover{background: #fee188 url(../image/i-6.png) no-repeat 14px;}/*设置划过时的标志和背景色*/
header #setting > #bott > a:nth-child(2):hover{background: #fee188 url(../image/i-7.png) no-repeat 14px;}/*设置划过时的标志和背景色*/

aside{width:191px;height:200%;background:#f2f2f2;float:left;}

#main{width:100%;background:none;height:100%;padding-left:192px;display:block; box-sizing: border-box;}
#main .bar{/*面包屑栏*/
    height:40px;
    background:#f5f5f5;
    border:1px solid #e5e5e5;
    border-top:none;
    width:100%;
    font:14px/40px "";
    color:#555;
    text-indent:16px;
}

aside .home{width:191px;height:41px;}
aside .home > a.top{display:block;height:41px;background:#6fb3e0;text-align:center; color:#fff;}
aside .home > a.top img{height:20px;width:20px;}
aside .home > a.top:after{content:"";display:inline-block;height:100%;width:0;vertical-align:middle;}

aside .home a.top:hover{background:#438eb9;}
aside > a{/*一级列表*/
    height:38px;
    display: block;
    background:#f9f9f9;
    text-indent:43px;
    font:14px/38px "";
    color:#616161;
    border:1px solid #e5e5e5;
    text-decoration: none;
}

aside > a:focus{
text-decoration: none;
}
aside > a:hover{
    background: #fff !important;/*设置该属性的优先级比js设置的优先级高*/
    color:#2b7dbc;
    border-left:3px solid #3382af !important;/*设置该属性的优先级比js设置的优先级高*/
    text-decoration: none;
}

aside ul{
    width:191px;
    background:#fff;
    overflow: hidden;
    height:0px;
    margin:0;

}
aside ul li{
    height:36px;
    border-top:1px dotted #e5e5e5;
    box-sizing: border-box;
}
aside ul li a{
    display: block;
    text-indent:37px;
    font:14px/36px "";
    color:#616161;
    background:url(../image/i-8.png) no-repeat 18px center ;
    text-decoration: none;
}
aside ul li a:hover{
    background: url(../image/i-9.png) no-repeat 15px,url(../image/i-8.png) no-repeat 18px center;
    color:#4b88b7;
    text-decoration: none;
}


